<h1>Welcome to the Fanatabulous Music Wall</h1>
<p>
  <a href="/songs"> Check out the Wall </a>
</p>

<p>
  <a href="/songs/new"> Want to add to the Wall?</a>
</p>

<p>
  <a href="/songs/donate"> Donate? please? COME ON!
</p>