<h1> GIVE ME YOUR DOLLARS </h1>

<p>
  Did you seriously want to?...
</p>

<p>
  If yes
</p> 
<p>
    <b>TAKE MY BEST WISHES</b>
</p>
<p>
  else
</p>
<p>
    <b>leave me broke</b>
</p>
<p>  end </p>
<p>
  P.S You know you like my if statement skills ... ignore the indentation.
</p>
<p>