<form method="post" action="/songs">
  <div>
    <label>Artist:</label>
    <input type="text" name="artist" value="<%= @song.artist %>">
  </div>
  <div>
    <label>Title:</label>
    <input type="text" name="title" value="<%= @song.title %>">
  </div>
  <div>
    <label>URL:</label>
    <input type="text" name="url" value="<%= @song.url %>">
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
</form>